*{
    margin : 0;
    padding : 0;
    border:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

h1{
    text-align: center ;
    color:#662e29;
}

body{
    background-color: #c0a58d;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.Board{
    width: 100%;
    
    max-width: 420px;
    
    background-color: #662e29;
    color: #fff;
    margin: 60px auto 0;
    border: 2px solid #fff;
    border-radius:10px ;
    padding: 10px;
    text-align: center ;
    

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.bt{
    height: 120px;
    width :120px;
    color: rgba(0, 0, 0, 0);
    margin:5px;
    border-radius:10px ;
    border: 2px solid black;
}
.bt:hover{
    background-color: #f74b4b;
}
.bt:active{
    background-color: #66CDAA;
}

.newgame{
    display:inline;
    text-align: center;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #fff;
    margin: 20px auto 0;
    background-color:#662e29;
    color: #fff;
    font-size: 18px;
}

.newgame:active{
    background-color: #66CDAA;
    color: black;
    border: 2px solid #000;
}


.result{
    font-size:100px;
    font-style: italic;
    font-weight: 500;
    color: #662e29;
    text-shadow: 2px 2px 0px rgba(255, 255, 255, 1);
}